<footer class="footer is-centered">
  <div class="container">
    <div class="columns">
      <div class="column">
        {{#get "posts" limit="5" as |recent|}}
          <section class="recent-posts">
            <h3>Recent posts</h3>
            <ul>
              {{#foreach recent}}
                <li>
                  <a href="{{url}}">{{title}}</a>
                </li>
              {{/foreach}}
            </ul>
          </section>
        {{/get}}
      </div>
      <div class="column">
        {{#get "tags" limit="5" as |tag|}}
          <section class="recent-tags">
            <h1>Tags</h1>
            <ul>
              {{#foreach tag}}
                <li>
                  <a href="{{url}}">{{name}}</a>
                </li>
              {{/foreach}}
            </ul>
          </section>
        {{/get}}
      </div>
    </div>
  </div>
</footer>