<nav class="pagination" role="navigation" aria-label="pagination">
  {{#if prev}}
    <a href="{{page_url_prev}}" class="pagination-previous">Newer posts</a>
  {{/if}}
  <span class="pagination-link is-current">Page {{page}} of {{pages}}</span>
    {{#if next}}
    <a href="{{page_url_next}}" class="pagination-next">Older posts</a>
  {{/if}}
</nav>