<div>
  <h1 class="title">Subscribe to get news and updates</h1>
  <h2 class="subtitle">Get discounts, promotions and more!</h2>
  <form method="post" action="{{action}}">
    {{hidden}}

    <div class="field is-grouped {{#if error}} error {{/if}}">
      <input type="email" class="input" placeholder="you@email.com" autofocus="autofocus"/>
    </div>
    <button class="button is-primary" type="submit">Subscribe</button>
    {{script}}
  </form>

  {{#if error}}
    <p>{{{error.message}}}</p>
  {{/if}}

</div>