{{!< default}}
<section class="outer error-content">
    <div class="inner">
        <section class="error-message">
            fdtrxcyuyfuyfu
            <p>trdfufyfuyvk6868fuyvuy8t6uyg8g8</p>
        </section>
    </div>
</section>