<div id="gh-unlock_auth-modal" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content ">
    <div class="box p-6">
      <h1 class="is-size-1 mb-6">Ghost Unlock</h1>
        <p class="mb-4">New to {{@site.title}}?</p>
        <a href="" class="button is-large is-danger is-fullwidth gh-unlock_cta-btn-signup mb-5">Sign up</a>

      <p class="mb-4">Already a member?</p>
      <a href="" class="button is-large is-link is-fullwidth gh-unlock_cta-btn-login mb-5">Login</a>

    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>